* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --background: #0f172a;
  --card: #111827;
  --primary: #25eb56;
  --text: #f8fafc;
  --text-secondary: #94a3b8;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background);
  color: var(--text);
}

main {
  min-height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 80px;
}

section p:first-child {
  color: #2f8f5b;
  font-size: 18px;
  margin-bottom: 12px;
}

h1 {
  font-size: 64px;
  margin-bottom: 8px;
}

h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 24px;
}

section p:not(:first-child) {
  max-width: 550px;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 32px;
}

button {
  border: none;
  padding: 14px 24px;
  background-color: var(--primary);
  color: var(--text);
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

/* Barra de Navegação */
nav {
  width: 100%;
  padding: 24px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  border-bottom: 1px solid #1e293b;
  position: relative;
}

.nav-logo h2{
  margin: 0;
  font-size: 24px;
  color: var(--text);
}

.nav-links {
  display: flex;
  gap: 28px;
}

.nav-links a {
  color: var(--text-secondary);
  text-decoration: none;
  font-size: 16px;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: var(--text);
}

/* Botão do Menu */
.menu-button{
  display: none;
  border: none;
  background: none;
  font-size: 28px;
  cursor: pointer;
}

/* Seção Inicio/Hero */
.hero {
  min-height: 100vh;
  padding: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}


.hero-content{
  max-width: 600px;
}

.hero-content p:first-child {
  color: var(--primary);
  font-size: 18px;
  margin-bottom: 12px;
}

.hero-content h1 {
  font-size: 64px;
  margin-bottom: 8px;
}

.hero-content h2 {
  font-size: 32px;
  font-weight: 400;
  color: var(--text-secondary);
  margin-bottom: 24px;
}

.hero-content p:not(:first-child) {
  max-width: 550px;
  font-size: 18px;
  line-height: 1.6;
  color: var(--text-secondary);
  margin-bottom: 32px;
}

.hero-image {
  width: 400px;
  height: 400px;
  flex-shrink: 0; /* Aprendizado novo. O elemento não reduz automaticamente por falta de espaço */
}

/* Seção Sobre/About */

.about {
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about h2 {
  font-size: 40px;
  margin-bottom: 24px;
}

.about p {
  max-width: 700px;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 16px;
}

/* Seção Tecnologies/Tecnologias */
.technologies {
  padding: 80px;
}

.technologies h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

.technology-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 900px;
}

.technology-list div {
  background-color: var(--card);
  padding: 30px;
  border-radius: 12px;
  color: var(--text);
  text-align: center;
  transition: transform 0.2s ease, border-color 0.2s ease;
  border: 1px solid transparent;
}

.technology-list div:hover {
  transform: translateY(-5px);
  border-color: var(--primary);
}


/* Seção de Projetos/Projecs */
.projects {
  padding: 80px;
}

.projects h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  max-width: 1100px;
}

.project-card {
  background-color: var(--card);
  padding: 30px;
  border-radius: 12px;
  border:  1px solid transparent;
  transition: transform 0.2s ease, border-color 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-card:hover{
  transform: translateY(-5px);
  border-color: var(--primary);
}

.project-card h3{
  font-size: 24px;
  margin-bottom: 16px;
}

.project-card p {
  color: var(--text-secondary);
  line-height: 1.6;
  margin-bottom: 24px;
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

.project-card a {
  display: inline-block;
  padding: 14px 24px;
  background-color: var(--primary);
  color: var(--text);
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  margin-top: auto;
}

/* Seção de Contato/Contact */
.contact {
  padding: 80px;
}

.contact h2 {
  font-size: 40px;
  margin-bottom: 16px;
}

.contact > p { /* Esse > significa o <p> que é filho direto de .contact */
  color: var(--text-secondary);
  font-size: 18px;
  margin-bottom: 32px;
}

.contact form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}



/* Responsividade */

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .nav-links.aberto {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 24px;
    background-color: var(--primary);
    padding: 20px;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }

  .menu-button {
    display: block;
    color: var(--text);
  }
    

  /* inicio/Hero */
  .hero {
    flex-direction: column;
  }

}