* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8faf9;
  color: #17201c;
}

main {
  min-height: 100vh;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 80px;
}

section p:first-child {
  color: #2f8f5b;
  font-size: 18px;
  margin-bottom: 12px;
}

h1 {
  font-size: 64px;
  margin-bottom: 8px;
}

h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 24px;
}

section p:not(:first-child) {
  max-width: 550px;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 32px;
}

button {
  border: none;
  padding: 14px 24px;
  background-color: #2f8f5b;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}


/* Responsividade */

@media (max-widht: 768px) {
    section {
      padding: 40px 24px;
    }

    h1 {
      font-size: 44px;
    }

    h2 {
      font-size: 26px;
    }

    section p:not(:first-child) {
      font-size: 16px;
    }
}